name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
  # Uncomment this if you want to run weekly to update the Guidelines published
  # schedule:
  #   # Every Sunday at 01:00
  #   - cron:  '0 1 * * 0'

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: website/yarn.lock

      - name: Install dependencies
        run: |
          cd website
          yarn install --frozen-lockfile

      - name: Build website
        run: |
          cd website
          yarn build

      - name: Clone Nanopub Guidelines in built folder
        run: |
          cd website/build
          git clone https://github.com/Nanopublication/Guidelines.git
          rm -rf Guidelines/.git
          cp Guidelines/nschema.ttl .

      # Popular action to deploy to GitHub Pages:
      # Docs: https://github.com/peaceiris/actions-gh-pages#%EF%B8%8F-docusaurus
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./website/build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com